atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4.3
Click==7.0
coverage==4.5.2
flake8==3.6.0
mccabe==0.6.1
more-itertools==5.0.0
numpy==1.16.0
pip-tools==3.2.0
pkg-resources==0.0.0
pluggy==0.8.1
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
pytest==4.1.1
pytest-cov==2.6.1
pytest-flake8==1.0.3
python-dateutil==2.7.5
pytz==2018.9
six==1.12.0
sly==0.3
