[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.pacificclimate.org/simple"
verify_ssl = true
name = "pcic"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Cors = "*"
Shapely = ">=1.6"
numpy = "~=1.20"
GDAL = "==3.2.0"
rasterio = "==1.2.6"
SQLAlchemy = "==1.3.17"
contexttimer = "==0.3.3"
Pint = "~=0.16"
cf-cell-methods = "==0.1.0"
Sphinx = {version = "==4.5.0", index = "pcic"}
m2r2 = "==0.2.5"
modelmeta = "*"
gunicorn = "*"
setuptools = "<58"
jinja2 = "*"

[dev-packages]
pytest = ">=3.0.0"
python-dateutil = "*"
pytest-env = "*"
black = "==19.10b0"
pre-commit = "*"

[requires]
python_version = "3.8"
